<body>
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <span class="subheading"> What's purpose of this WebSite</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <main class="mb-4">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <p>The purpose of this website is for users to share their blog. What is a blog? For those who do not know, I will explain this . A blog is for users to identify any problem and share the title and subheadings they choose about it.</p>
                    <p>The purpose of blog sites is generally to provide individuals or organizations with the opportunity to share their thoughts, knowledge, and experiences on a particular topic. These topics can range from personal interests to business 
                    or industry-related issues. Writing a blog provides an opportunity for a person to express themselves, share information, help others, and build a following. Blogs can be designed to engage, inform, entertain, or motivate readers.</p>
                    
                </div>
            </div>
        </div>
    </main>
</body>